%%-*- mode: erlang -*-

{deps, [
  {webmachine,
   "1.8.1",
   { git,
     "git://github.com/basho/webmachine",
     {tag, "webmachine-1.8.1"}}}
  ,{jiffy,
   ".*",
   { git,
     "git://github.com/davisp/jiffy",
     "666091a93f11bf5ac9e6"}}
   ,{parse_trans,
   "2.3",
   { git,
     "git://github.com/uwiger/parse_trans",
     "2.3"}}
  
]}.
