
.title {
	font-size: 10em;
	font-weight: bold;
	text-align: center	
}

.big {
	font-size: 2em;
}

.panel {
    margin: 4px;
}

.roomCreationForm {
	width: 350px;
	border-style: solid;
	background-color: #EEEEFF;
	margin: 4px;
	top: 30%;
}


.blankBox {
	color: #AAAAAA;
}

.sendButton {
  display: block;
  font-size: 16pt;
}


