* {
  font-family: 'Droid Sans Mono', arial, serif;
}

body,
html {
  background: #99c;
}

#wrap {
 margin:0 auto;
 background: #99c;
 overflow: hidden;
}

.title {
	font-size: 10em;
	font-weight: bold;
	text-align: center	
}

.big {
	font-size: 2em;
}

.panel {
    margin: 4px;
}

input[type="text"]
{
border:solid 2px #99c;
font-size:.8em;
padding:4px;
border-radius: 1em; 
 
}
input[type="submit"]
{
border:solid 2px #ff6600;
background-color:#FF6600;
color:#fff;
font-size:.8em;
padding:4px;
 
border-radius: 1em; 
}

.roomCreationForm {
	width: 350px;
	border-style: solid;
	background-color: #EEEEFF;
	margin: 4px;
	top: 30%;
}


.blankBox {
	color: #AAAAAA;
}

.sendButton {
  display: block;
  font-size: 1em;
}
#chatInput {
  width:70%;
}
.chatText {
  font-family: 'Droid Sans Mono', arial, serif; 
  font-size: 0.75em;
  text-align:left;
  width:70%;
}

#nameForm {
  position: relative;
  top: 7.5em;
}
#nameText {
  background-color: #446688;
  color: #FFFFFF;
  font-size: 2.5em;
}
#chatDiv {
  text-align: center
}


#main {
  float:left;
  align: center;
  border-style: solid;
  border-color: #CCCCFF;
  border-radius: 30px;
  background-color: #EEEEFF;
  min-width: 640px;
}
#chatForm {
  position: relative
  bottom: 1em
}
#chatBar {
  float:left;
  border-style: solid;
  border-color: #FFFFCC;
  border-radius: 30px;
  background-color: #FFFFEE;
  width: 360px;
  min-height: 500px;
  position:relative;
  left: 0.5 em;
}

#chatSpace {
  list-style-type: none;
  overflow-y: scroll;
  height: 500px;
}
.userEntered {
  font-style: italic;
}
#prompt {
  position:absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-color: #000000;
  opacity: 0.8;
  visibility:hidden;
}

canvas#primaryCanvas {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFFF0;
  border-style: solid;
  border-color: #F0F0E0;
}

